body {font-family: Arial, Helvetica, sans-serif;}
form {
  border: 1px solid #1f1f2042;
}

.errorMessage {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    background-color: #f44336;
    color: white;
    cursor: help;
    height:10vh;
    text-align: center;
    text-decoration: underline; 
}

.Bg-img {
  background-image: url(src/images/pexels-tyler-lastovich-937782.jpg);
  background-attachment: fixed;
  max-width: 100%;
  height: auto;
  opacity: 0.8;
}

form {
  width: 50%;
  margin: auto;
  height: 90vh;
  color: rgb(255, 255, 255);
  font-size: 1.4em;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(99, 17, 37, 0.205);
}



.hide {
    display: none;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

button {
  background-color: #491240;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

button:hover {
  opacity: 0.7;
}

.cancelbtn {
  width: auto;
  font-size: 1.2em;
  padding: 12px 34px;
  background-color: #4bb967;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 30%;
  border-radius: 100%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  font-size: 1.2em;
  color: #0e011a;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
