* {
    box-sizing: border-box;
    margin: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.flex * > {
    flex-basis: 1 1 10em;
}


#userDiv {
    background-color: rgba(7, 3, 41, 0.63);
    color: rgb(248, 252, 255);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    padding-left: 3.5rem;
    padding-bottom: 1.4rem;
    margin: 1rem;
}


.avatar-photo {
    max-width: 100%;
    margin: auto;
    padding: 1rem;
}

.Title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.6em;
    font-weight: 400;
  
}

.btns {
    padding: 1rem;
    margin: auto;
}

button {
    width: 300px;
    max-width: 100%;
    padding: 20px;
    border-radius: 0.5rem;
    background-color: rgba(9, 3, 43, 0.993);
    color: rgba(116, 255, 213, 0.781);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    margin: 1rem;
}

button:hover {
    background-color: rgba(29, 9, 112, 0.993);
    transform: scale(1.1);
}

#myFile {
    width: 50%;
    margin: auto;
}

.col1 {
    width: 50%;
    margin: auto;
}

#bookListTable th {
    background-color: rgba(15, 4, 61, 0.993);
    color: rgba(116, 255, 213, 0.781);
    font-weight: 400;
    font-size: 1.2em;
    padding: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    margin: auto;
    padding: 1rem;
}

tr {
    background-color: azure;
    text-align: center;
    padding: 25px;
}

#userDiv input[type=text] {
   padding: 10px 14px;
   width: 25%;

}

