* {
    box-sizing: border-box;
    margin: 0;
}

.flex {
    display: flex;
    flex-flow: column wrap;
}

.float {
    float: right;
}

#userDiv {
    background-color: rgba(5, 4, 46, 0.651);
    color: white;
    font-size: 1.4em;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    padding: 40px 80px;
    width: 50%;
    margin: auto;
}

img {
    float: right;
    border-radius: 100%;
    width: 50%;
    height: 70%;
    max-width: 100%;
}
.Title {
    padding-top: 2rem;
    font-size: 3.5em;
    font-weight: 300;
    width: 50%;
    margin: auto;
}

button {
    width: 25%;
    margin-left: 26rem;
    margin-top: 2rem;
    padding: 10px;
}

#text {
   font-size: 1.2em;
   padding-left: 10px;
   padding-right: 440px;
   margin-top: -18rem;
   margin-left: 53rem;
}

@media screen and (max-width: 450px) {
   .flex .col {
        display: flex;
        flex-flow: column wrap;
    }
}